---
import { getCollection } from "astro:content"
import BaseLayout from "../../layouts/BaseLayout.astro"
import HorizontalPost from "../../components/HorizontalPost.astro"

const pageTitle = "My Astro Learning Blog";
const allPosts = await getCollection("frontendBlog")
---

<BaseLayout pageTitle={pageTitle}>
    <div class="flex-grow w-9/10 m-auto pt-8 xl:px-64 pb-16">

        <div class="text-2xl md:text-5xl font-extrabold flex justify-center py-10 md:py-20 bg-slate-900/50 text-white rounded-t-2xl">
            <p>Frontend</p>
        </div>
        <div class="pb-128 shadow-2xl py-4 rounded-b-2xl">
            {
                allPosts.map((post) => (
                    <HorizontalPost postImageHeight="h-32 md:h-34 xl:h-52" post={post} />
                    <HorizontalPost postImageHeight="h-32 md:h-34 xl:h-52" post={post} />
                    <HorizontalPost postImageHeight="h-32 md:h-34 xl:h-52" post={post} />
                    <HorizontalPost postImageHeight="h-32 md:h-34 xl:h-52" post={post} />
                ))
            }
        </div>  
    </div>
</BaseLayout>

